venv/
.idea/
.dS_Store
*.pyc
*.pyo

# Added from https://stackoverflow.com/questions/3719243/best-practices-for-adding-gitignore-file-for-python-projects
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
